<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau Post</title>
</head>
<body>
    <h1>Nouveaux post</h1>
    <form action="/submit-post" method="post">
    <label for="titre">titre</label>
    <input type="text" name="titre" id="titre">
<br>
    <label for="soustitre">Sous-titre</label>
    <input type="text" name="soustitre" id="soustitre">
<br>
    <label for="para">paragraphe</label>
    <input type="text" name="para" id="para">

<br>

    <input type="submit" value="Enregistrer un nouveau post">
</form>
</body>
</html>